@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Tektur&display=swap');

p {
    color: black;
    text-align:center;
}

.background-text {
    font-size: calc(2.5vw);
    color: white;
    font-family: 'Roboto Condensed';
    text-align: center;
}



.subtitle {
    font-weight:100;
}

.topheader {
    margin:0px;
}

.typewriter p {
    align-self: center;
    border-right: 2px solid transparent;  /*Add a blinking cursor effect */
    white-space: nowrap;  /*Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.typewriter-container {
    height: 100px;
    transition: height 0.5s ease;
}

.typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

@keyframes typewriter-top {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes typewriter-bottom {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.identity-button {
    max-width: calc(20px + 10vw);
    padding: 8px;
    padding-top: calc(1.5vw);
    border-radius: 10px;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: calc(2.5vw);
}
.identity-button:hover {
    border: blue solid 1px;
}
.identity-button:active {
    color: white;
    background-color: blue;
}

#engineer-button {
    padding-right: 10px;
    margin-right: 10px;
    text-align: left;
}
#engineer-button:active {
    background-color: blue
}
#engineer-button-pressed {
    background-color: lightskyblue;
    color: black;
}

#author-button-pressed {
    background-color: rebeccapurple;
    color: white;
}

#artist-button-pressed {
    background-color: deeppink;
    color: black;
}

#author-button {
    text-align: center; 
}

#artist-button {
    margin-left: 10px;
    text-align: center;
}



.buttons-container {
    position: relative;
}

.transition-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.fade-out {
    animation: concealAbove 0.3s forwards;
}

@keyframes concealAbove {
    from {
        max-height: 300px;
    }

    to {
        max-height: 0px;
    }
}

.welcome-text {
    display: flex;
    justify-content: center;
}


#myButton {
    display: inline-block; /* Make the button inline with text */
    padding: 8px 16px; /* Add padding for better visual appearance */
    border: none;
    cursor: pointer;
}

.experiences-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    text-align: center;
}
.content-card {
    display:          flex;
    flex-direction:   column;
    flex:             1;
    align-items:      center;
    height:           calc(40vw);
    width:            100%;
    background-color: white;
    color:            black;
    border-radius:    10px;
    margin-bottom:    10px;
    height:           auto;
}

.card-content {
    display:flex;
    flex-direction: row;
}

.card-text-container {
    margin-left: 10px;
    text-align: left;
    height: auto;
    margin-top:0px;
}

.card-text-container p {
    font-size: calc(3vw);
    text-align: left;
}

.card-text-container h3 {
    font-size: calc(4vw);
    text-align: left;
    margin-bottom: 5px;
    margin-top: 0px;
}

.card-text-container h4 {
    font-size: calc(2vw);
    color: dimgrey;
    text-align: center;
    margin-top: 0px;
}

.card-thumbnail {
    width: 40%;
    object-fit: contain; /* Maintain aspect ratio while fitting within the container */
    border-radius: 10px;
    align-self:center;
    background-color: black;
}


.accordion-section {
    cursor: pointer;
    transition: all .2s linear;
    color: white;
}

.accordion-header {
    color: white;
    transition: all .2s linear;
    font-weight: bold;
}

.accordion-content-slideIn {
    overflow: hidden;
    max-height: 1000px;
    animation: slideIn 0.3s ease-in-out; /* Adjust duration and easing as needed */
}

.accordion-content-slideOut {
    overflow: hidden;
    max-height: 0;
    animation: slideOut 0.8s ease-in-out; /* Adjust duration and easing as needed */
}

@keyframes slideIn {
    from {
        max-height: 0;
    }

    to {
        max-height: 1000px; /* Set a value that's larger than the expected content height */
    }
}

@keyframes slideOut {
    from {
        max-height: 1000px;
    }

    to {
        max-height: 0px; /* Set a value that's larger than the expected content height */
    }
}

@media (min-width: 600px) {
    .background-text {
        font-size: calc(2vw);
        transition: all .1s linear;
    }
    
    .content-card {
        margin: 2vw;
        transition: all .1s linear;
    }
    .card-content {
        flex-direction: column;
        transition: all .1s linear;
    }

    .experiences-container {
        flex-direction: row;
        transition: all .25s linear;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .card-text-container p {
        font-size: calc(2vw);
        text-align: left;
    }

    .card-text-container h3 {
        font-size: calc(3vw);
        text-align: center;
    }

    .card-thumbnail {
        width: unset;
        max-height: 50px;
        border-radius: 250px;
        transition: all 2s linear;
    }
}

@media (min-width: 800px) {
    .background-text {
        font-size: calc(2vw);
        transition: all .1s linear;
        margin-bottom: 5px;
        margin-top: 30px; 
    }
}

@media (min-width: 1000px){
    .background-text {
        font-size: 1.5vw;
        transition: all .2s linear;
    }

    .card-text-container p {
        font-size:20px;
    }

    .card-text-container h3 {
        font-size: 30px;
    }

    .identity-button {
        align-items: center;
        justify-content: center;
    }
}


.sort-cards-container {
    margin-top: 50px;
    display: flex; /* Display cards in a row */
    justify-content: center; /* Spacing between cards */
    align-items: center; /* Spacing between cards */
    width: 80%; /* Span the whole width of the viewport */
    gap: 60px;
}

.sort-card-container {
    flex: 1; /* Distribute space evenly among cards */
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 250px; /* Set maximum width for each card */
    margin: 10px; 
}

.sort-card {
    justify-content: center; /* Center horizontally */
    align-content: center; /* Center vertically */
    align-items: center; /* Vertically center the content */
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 100%; /* 1:1 aspect ratio (square) */
    background-size: cover; /* Stretch the background image to cover the card */
    background-position: center center; /* Center the background image */
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.sort-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover; /* Stretch the image to cover its container */
}

.sort-card-label {
    margin-top: 10px; /* Add spacing between image and label */
    color:white;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:  100%;
    background: #000000e1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);

    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-left {
    flex: 1
}

.modal-right {
    flex: 2
}

.modal-text {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-image {
    max-width: 100%;
    height: auto;
}

.mech-button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

.mech-button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
}

.mech-button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

.mech-button span {
    position: relative;
    z-index: 1;
}

.mech-button i {
    position: absolute;
    inset: 0;
    display: block;
}

.mech-button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

.mech-button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.mech-button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
}

.mech-button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;

}

.mech-button:active {
    background: white;
    color: black;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.foreground {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section-header-container {
    margin-left: calc(14vw);
    margin-right: calc(14vw);
    margin-bottom: 0px;
}

