.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: rgb(45, 49, 84);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topnav-container {
    display: flex;
    background-color: white;
    align-self: center;
    flex-direction: row;
    max-height: 20%;
    border-radius: 5px;
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.profile-pic-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

.navbar-thumbnail {
    margin: calc(2vw);
    height: calc(20vw);
    width: calc(20vw);
}

.navbar-header {
    font-family: "Roboto Condensed";
    font-size: calc(5.5vw);
    margin-top: 10px;
}

.navbar-subheader {
    font-size: calc(4vw);
    font-weight: 400;
    margin: 0px;
}

.navbar-text {
    font-size: calc(2vw);
    font-weight: 200;
    margin: 0px;
}

#topnav-header {
    padding-right: 10px;
    margin-bottom: 0px;
}

.socials-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.navbar-icon {
    height: calc(3vw);
    width:  calc(3vw);
    margin: calc(1vw);
}

.namecard {
    display: flex;
    flex-direction:column;
}

.skillset-container {
    margin-top: 10px;
}

p {
    color: white;
    text-align:center;
}

.typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    flex-direction: column;
}

.typewriter p {
    border-right: 2px solid transparent;  /*Add a blinking cursor effect */
    white-space: nowrap;  /*Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    animation: typewriter 1s steps(30) forwards;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (min-width: 400px) {
     /*If viewport height is greater than 600px, override sizing based on viewport height */
    .navbar-thumbnail {
        height: calc(50px + 4vw);
        width: calc(50px + 4vw);
        transition: all .25s linear;
    }

    .navbar-icon {
        height: calc(4px + 1.5vw);
        width:  calc(4px + 1.5vw);
        margin: calc(0.5px + 0.5vw);
        transition: all .5s linear;
    }

    .navbar-header {
        font-size: calc(10px + 2vw);
        transition: all .5s linear;
    }

    .navbar-subheader {
        font-size: calc(10px + 0.8vw);
        transition: all .5s linear;
    }

    .navbar-text {
        font-size: calc(8px + 0.5vw);
        transition: all .5s linear;
    }
}